extends ../shared/template

block content

  #welcome
    h2 About Green Monsters
    p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut leo sapien, pharetra id viverra vel, condimentum eget augue.
    p.text Nulla ultrices faucibus vestibulum. Duis id lorem aliquam, rhoncus mauris quis, luctus justo. Mauris accumsan arcu eu urna hendrerit vulputate. Aenean ultrices turpis a varius ultrices. Phasellus et orci vel justo rutrum fringilla non vel elit. Cras justo diam, congue eu viverra vel, ornare id massa. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce pulvinar auctor metus sed pulvinar.

      //- #getStarted
      //-   span(class='button-wrap')
      //-     a(href='#' class='button button-pill') Get Started
