extends ../shared/template

block content

  #welcome
    h2 Welcome to The Green Monster Maker!
      h6 Create a green dream...
        em or Nightmare
      p Use this site to create some funny hybrid creatures. Have fun!

      //- #getStarted
      //-   span(class='button-wrap')
      //-     a(href='#' class='button button-pill') Get Started
