extends ../shared/template

block content

  h2 Create a New Monster
  #new
    form(method='POST', action='/chimeras')
      span
        input(name='name', type='text', placeholder='name')
      span
        input(name='age', type='text', placeholder='age')
      span
        select(name='gender')
          option male
          option female
      span
        select(name='head')
          option head
          option shrek
          option alien
          option mike
      span
        select(name='body',)
          option body
          option alien
          option shrek
      span
        select(name='feet')
          option feet
          option alien
          option shrek
          option mike
      span
        button#create Make It!


    //- #newChimera
    //-   span(class='button-wrap')
    //-     a(href='#', class='button button-pill') New Alien
